
.places{
    display: flex;
    flex-direction: column;
    margin: 92px auto;
    max-width: 987px;
    justify-content: center;
    gap: 80px;
    

}

@media only screen and (max-width: 540px)  {

    .places{
        
        gap: 50px;
        margin: 64px 0 64px;
        
     }
    }