@import url(normalize.css);

*{
    outline: 1px red solid;
}
    .header {
        display: flex;
        flex-direction: column;
    }

    .logo {
        align-self: center;
        width: 21%;
        margin: 34px auto 0;

    } 
    
    .lead {
        max-width: 984px;   
        margin: 91px auto 0;
    
    }
        
    .lead__title {
    
        max-width: 793px;
        margin: 0 auto;
        font-weight: 900;
        font-size: 96px;
        line-height: 104%;
        text-align: center;
        
    }
    
    .lead__subtitle {
 
        max-width: 720px;
        margin: 32px auto 0;
        font-weight: 400;
        font-size: 30px;
        line-height: 120%;
        text-align: center;
        
    }

     .lead__image {
    
        max-width: 984px;
        margin: 64px 0 0;
        filter: grayscale(100%);
        width: 100%;
     }
    
     .intro {
    
        display: flex;
        max-width: 1017px;
        margin: 92px auto 0;
        flex-direction: column;
     }
    
     .intro__title {
       
        margin: 0;
        font-weight: 900;
        font-size: 54px;
        line-height: 107%;
    
     }
    
    .intro__quote {
      
        margin: 40px 410px 0 0;
        font-weight: 400;
        font-size: 24px;
        line-height: 142%;
    }
    
    .intro__quote-signature {
        
        text-align: end;
        max-width: 722px;
        /* max-height: 34px; */
        margin: -10px 0 0;
        font-weight: 400;
        font-size: 24px;
        line-height: 142%;
        
    }
    
    .intro__text {
       
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        margin: 32px 0 0;
    
    }
    
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        max-width: 1184px;
        width: 92%;
        margin: 92px auto 0;
        grid-gap: 16px;
    
        
    }
    .photo-grid__item {
        width: 100%;
    }
    
    .button {
        display: flex;
        background: #0278FE;
        border-radius: 4px;
        border-style: none;
        font-weight: 600;
        font-size: 18px;
        line-height: 122%;
        font-family: "Inter", sans-serif; 
        font-style: normal;
        color: #FFFFFF;
        margin: auto;
        text-decoration: none;
        align-items: center;
        justify-content: center;
}
    
    
    }
    /* .button__paragraph{
        font-weight: 600;
        font-size: 18px;
        line-height: 122%;
        font-family: "Inter", sans-serif; 
        font-style: normal;
        color: #FFFFFF;
        margin: auto;
    } */
    /* .button__link {
        text-decoration: none; 
    }*/
    
    .button:hover {
        background: #0063D2;
    }
    
    .cover:hover .cover__background{
        background: #2A2C2F;
        opacity: 0.3;
    }
    
    .places{
        margin: 92px auto;
        max-width: 987px;
        justify-content: center;
       
    
    }
    .place {
        display: grid;
        /* grid-template-columns: repeat(2 1fr);
        grid-template-rows: repeat(3 1fr); */
        grid-template-areas: 
        "title name"
        "image text"
        "button text"
        ". text";
        column-gap: 40px;
        margin: 0 0 80px;
        width: 100%;
        
    }
    
    /* .place:nth-last-of-type(1) {
        margin-bottom: 92px;
    } */
    
    .place__title{
      
        /* grid-column: 1;
        grid-row: 1; */
        max-width: 460px;
        font-weight: 900;
        font-size: 72px;
        line-height: 106%;
        margin: 0 0 48px;
        grid-area: [title];
        
    }
    .place__website {
        margin: 0 0 48px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        grid-area: [name];
    
    }
    .place__url-heading {
        /* grid-column: 2;
        grid-row: 1; */
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #AAAAAA;
    }
    
    .place__artist{
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-top: 8px;
        
    }
    .place__image {
       
        max-width: 460px;
        /* max-height: 460px; */
        width: 100%;
        margin:0 auto;
        grid-area: [image];
        /* justify-content: stretch; */
    
    }
    
    /* .place__image-and-button{
        display: flex;
        flex-direction: column;
        gap: 48px;
        grid-column: 1;
        grid-row: 2;
    
    } */
    .place__paragraph {
        margin: auto;
        font-weight: 400;
        font-size: 18px;
        line-height: 163%;
        
       
    }
    .places__paragraph {
        /* grid-column: 2;
        grid-row: 2; */
        display: flex;
        flex-direction: column;
        gap: 25px;
        grid-area: [text];
    }
    .place__buttom {
      
        height: 48px;
        margin-left: 0; 
        text-align: center;
        grid-area: button;
        padding: 0 20px
    
    }
    
    /* .place__button__paragraph{
        max-width: 315px;
        max-height: 22px;
        text-align: center; 
        
    } */
    
    .cover{
        margin: 0 auto 0;
        max-width: 1184px;
        /* height: 740px;   */
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .cover__overlay {
        max-width: 1184px;
        width: 100%;
        height: 740px;
        opacity: 0.8;
        
    }
    
    .cover__background{
        max-width: 1184px;
        width: 100%;
        height: 740px;
        background: #2A2C2F;
        
    }
    .cover-text {
        display: flex;
        flex-direction: column;
        max-width: 656px;
        /* height: 254px; */
        z-index: 2;
        position: absolute;
        text-align: center;
        width: 100%;
    }
    .cover-text__title {
        width: 656px;
        /* height: 76px; */
        font-weight: 900;
        font-size: 72px;
        line-height: 106%;
        margin: 0 0 32px;
        width: 100%;
    
    }
    .cover-text__subtitle {
        width: 280px;
        /* height: 66px; */
        align-self: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 122%;
        margin: 0 auto;
    
    }
    .cover__buttom{
        
        height: 48px;
        margin: 32px auto 0;
       
        padding: 0 20px
    }

    .cover__button:hover .cover{
        background: #2A2C2F;
        opacity: 0.8;
    
    }
    
    
    .footer__copyright {
        margin: 92px auto 0;
        text-align: center;
        padding-bottom: 24px;
    }
    


.page {
    background-color: #2A2C2F;
    font-family: "Inter", sans-serif; 
    font-style: normal;
    color: #FFFFFF;
  
}


@media only screen and (max-width: 540px)  {

    .header {
        display: flex;
        flex-direction: column;
    }

    .logo {
        align-self: center;
        width: 65%;
        margin: 20px auto 0;
}
    .lead {       
        margin: 50px auto 0;
    }

    .lead__title {
        font-size: 40px;
        line-height: 110%;
        margin: 0;
    }
    .lead__subtitle {
       
        font-size: 16px;
        line-height: 125%;
        margin: 60px 0 0;

    }
    .lead__image {
        margin-top: 40px;
        width: 100%;
        
    }
    .intro {
        margin: 44px 0 0;
        padding: 0 16px 0;
        display: flex;
        /* flex-wrap: wrap;
        align-content: flex-start; */
     }
     .intro__title {
    
        font-size: 32px;
        line-height: 109%;
        
     }

     .intro__quote {
        font-size: 24px;
        line-height: 142%;
        margin: 9px 0 0;
      }

    .intro__quote-signature {

        margin: 10px 0 0 0;
      
    }
    .intro__text {
        margin: 18px 0 0;
    
    } 
    .photo-grid {
       
        grid-template-columns: 1fr;
        margin: 38px 5% 0;
        grid-gap: 12px;
    }

    .places{
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin: 64px 0 64px;
        
     }
     .place {
        display: block;
        margin: 0;
       
    }

    .place__title{
      
        padding: 0 5% 0;
        font-size: 32px;
        line-height: 109%;
        margin: 0 0 30px;

    }
    
    .place__url-heading {
        font-size: 12px;
        padding: 0 5% 0;
        margin-bottom: 8px;
    }
    
    .place__artist{
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        padding: 0 5% 0;
        margin: 0;
    }
    .place__image {
       
        max-width: 460px;
        width: 100%;
        margin:30px 0 0;
    
    }
    .places__paragraph {
        margin: 30px 5% 22px;
        gap: 7px;
    }

    .place__paragraph {
        font-size: 16px;
        line-height: 163%;
       
    }
    .place__buttom {
        margin: 0 5% 0;
        font-size: 14px;
        line-height: 17px;
        padding: 0;
    }
   .cover__buttom {
        margin: 16px auto 0;
   }
   .cover__text{
        display: flex;
        flex-direction: column;
        z-index: 2;
        position: absolute;
        text-align: center;
        width: 100%;
   }
   .cover-text__title {
        
        font-size: 32px;
        line-height: 109%;
        margin: 0 0 16px;
        width: 100%;

    }
    .cover-text__subtitle {
   
        font-size: 14px;
        line-height: 114%;
  
    }
    .cover__background{
    
        height: auto;
        
    }
    .cover__overlay {
        
        height: auto;
        width: 100%;
        opacity: 0.8;
        
    }
    .footer__copyright {
        margin: 64px auto 0;
        font-size: 14px;
        line-height: 100%;
    }

}
    
    
    

    

    
    

 