@import url(normalize.css);

@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);

@import url(./blocks/logo/logo.css);

@import url(./blocks/lead/__image/lead__image.css);
@import url(./blocks/lead/__subtitle/lead__subtitle.css);
@import url(./blocks/lead/__title/lead__tittle.css);
@import url(./blocks/lead/lead.css);

@import url(./blocks/intro/intro.css);
@import url(./blocks/intro/__title/intro__title.css);
@import url(./blocks/intro/__quote-signature/__quote-signature.css);
@import url(./blocks/intro/__quote/intro__quote.css);
@import url(./blocks/intro/__text/intro__text.css);

@import url(./blocks/photo-grid/photo-grid.css);
@import url(./blocks/photo-grid/__item/photo-grid__item.css);

@import url(./blocks/places/places.css);

@import url(./blocks/place/place.css);
@import url(./blocks/place/__artist/place__artist.css);
@import url(./blocks/place/__button/place__button.css);
@import url(./blocks/place/__image/place__image.css);
@import url(./blocks/place/__paragraph/place__paragraph.css);
@import url(./blocks/place/__text/place__text.css);
@import url(./blocks/place/__title/place__title.css);
@import url(./blocks/place/__url-heading/place__url-heading.css);
@import url(./blocks/place/__website/place__website.css);

@import url(./blocks/button/button.css);

@import url(./blocks/cover/cover.css);
@import url(./blocks/cover/__background/cover__background.css);
@import url(./blocks/cover/__button/cover__button.css);
@import url(./blocks/cover/__overlay/cover__overlay.css);
@import url(./blocks/cover/__subtitle/cover__subtitle.css);
@import url(./blocks/cover/__text/cover__text.css);
@import url(./blocks/cover/__title/cover__title.css);

@import url(./blocks/footer/footer.css);




*{
    outline: 1px red solid;
}




@media only screen and (max-width: 540px)  {

   
   .cover__button {
        margin: 16px auto 0;
   }
   .cover__text{
        display: flex;
        flex-direction: column;
        z-index: 2;
        position: absolute;
        text-align: center;
        width: 100%;
   }
   .cover__title {
        
        font-size: 32px;
        line-height: 109%;
        margin: 0 0 16px;
        width: 100%;

    }
    .cover__subtitle {
   
        font-size: 14px;
        line-height: 1.16;
       
  
    }
    .cover__background{
    
        height: auto;
        
    }
    .cover__overlay {
        
        height: auto;
        width: 100%;
        opacity: 0.8;
        
    }
    .footer__copyright {
        margin: 64px auto 0;
        font-size: 14px;
        line-height: 100%;
    }
    .button:hover {
        background: #0063D2;
    }
    
    .cover:hover .cover__background{
        background: #2A2C2F;
        opacity: 0.3;
    }
    .footer {
        font-size: 14px;
        line-height: 1;
    }

}
@media only screen and (min-width: 541px) and (max-width: 1023px) {
 
    .logo {
        align-self: center;
        width: 35%;
        margin: 34px auto 0;

    }     
    .lead {
        margin: 91px auto 0;
    }
    .lead__image {
        margin-top: 70px;
        width: 100%;
        
    }
    .intro {
        margin: 90px 3% 0;
    
    }
        
    .intro__quote {
        
        margin: 40px 0 0;
       
    }
    
    
    .intro__text {
        
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        margin: 32px 0 0;
    
    }
    

    .button:hover {
        background: #0063D2;
    }
    
    .cover:hover .cover__background{
        background: #2A2C2F;
        opacity: 0.3;
    }
    .photo-grid {
       
        grid-template-columns: 1fr 1fr;
        margin: 64px 3% 90px;
        grid-gap: 16px;
    }
    
   
    .places{
        margin: 0 3% 0;
        gap: 70px;
        
    
    }
    .place {
        
        column-gap: 40px;
        margin: 0;
        width: 100%;
        
    }
    
    .place__title{
        
        font-size: 42px;
        line-height: 110%;
        margin: 0;
        
    }
    

    .place__artist{
        
        font-size: 18px;
        line-height: 22px;
        margin-top: 8px;
        
    }
    .place__image {
    
        width: 100%;
        margin:0 auto;
    
    }
    
    .place__paragraph {
       
        font-size: 16px;
        line-height: 163%;
         
    }
    .place__text {
      
        gap: 18px;
       
    }
    .place__button {
        
        height: 48px;
        margin-left: auto;
        text-align: center;
        grid-area: button;
        padding: 0 20px
    
    }  
    
}


    

    

    
    

