
.place__image {
    
    max-width: 460px;
    width: 100%;
    margin:0 auto;
    grid-area: image;

}

@media only screen and (max-width: 540px)  {

    .place__image {
       
        max-width: none;
        margin:30px 0 0;
    
    }
}