.place__button {
    
    height: 48px;
    margin-left: 0;
    text-align: center;
    grid-area: button;
    padding: 0 20px;

}
@media only screen and (max-width: 540px)  {

    .place__button {
        margin: 0 5% 0;
        font-size: 14px;
        line-height: 17px;
        padding: 0;
    }
}

@media only screen and (min-width: 541px) and (max-width: 1023px) {
 
    .place__button {
        
        
        margin-left: auto;
       
    }  
    
}
