.place__text {

    display: flex;
    flex-direction: column;
    gap: 25px;
    grid-area: text;
}

@media only screen and (max-width: 540px)  {

    .place__text {
        margin: 30px 5% 22px;
        gap: 7px;
    }
}

@media only screen and (min-width: 541px) and (max-width: 1023px) {
 
 
    .place__text {
        gap: 18px;
       
    }
}