.logo {
    align-self: center;
    width: 21%;
    margin: 34px auto 0;

} 

@media only screen and (max-width: 540px)  {
    
    .logo {
        width: 65%;
        margin: 20px auto 0;
}
}
@media only screen and (min-width: 541px) and (max-width: 1023px) {
 
    .logo {
        
        width: 35%;

    } 
}   