
.intro__quote-signature {
    
    text-align: end;
    max-width: 722px;
    margin: -10px 0 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 142%;
    
}

@media only screen and (max-width: 540px)  {

.intro__quote-signature {

    margin: 10px 0 0 0;
  
}
}