
.intro {

    display: flex;
    max-width: 1017px;
    margin: 90px auto 0;
    flex-direction: column;
    }

@media only screen and (max-width: 540px)  {


    .intro {
        margin: 44px 0 0;
        padding: 0 16px 0;
    
        }

 }