
.footer {
    margin: 90px auto 0;
    text-align: center;
    padding-bottom: 24px;
    max-width: fit-content;
    font-size: 14px;
    line-height: 1.14;
}

@media only screen and (max-width: 540px)  {


    .footer {
        margin: 64px auto 0;
        line-height: 1

    }
}
