
.place__url-heading {
    
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #AAAAAA;
}

@media only screen and (max-width: 540px)  {

    .place__url-heading {
       
        padding: 0 5% 0;
        margin-bottom: 8px;
    }

}